<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="social-footer">
    <div class="social-footer-left" style="color: white;">
        <p class="small">&copy; Todos los derechos reservados</p> 
    </div>
    <div class="social-footer-icons">
      <ul class="rrss" style="list-style: none; display: flex; flex-direction: row;">
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;</li>
        <li><a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;</li>
        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>&nbsp;&nbsp;</li>
        <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;</li>
      </ul>
    </div>
</footer>
  
  